.container {
  margin-left: 270px;
  .main-body {
    padding-top: 90px;
    padding-left: 30px;
    background: rgba(255, 255, 255, 0.45);
    padding-right: 30px;
    padding-bottom: 3rem;
    .title {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      padding: 10px;
      color: #213F7D;
    }
  }
}

.d-table {
  display: table;
  width: 100%;
}

.d-table-cell {
  display: table-cell;
}

.tar {
  text-align: right;
}

.blacklist {
  width: 170px;
  height: 40px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #E4033B;
  border-radius: 8px;
  background: transparent;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #E4033B;
}

.activate {
  background: transparent;
  width: 170px;
  height: 40px;
  left: 1210px;
  top: 210px;
  border: 1px solid #39CDCC;
  border-radius: 8px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39CDCC;
}

.card-main {
  // align-items: center;
  width: 100%;
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.card-mini {
  display: flex;
  // justify-content: space-between;
  width: 65%;
  padding-top: 2rem;
}

.card-holder__container{
  height: 5rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-holder {
  padding: 0 20px;
  img {
    width: 100px;
  }
  .another {
    display: flex;
  }
}

.card-holder__content:nth-child(2) {
  border-left: 0.5px solid rgba(84,95,125, 0.2);
  border-right: 0.5px solid rgba(84,95,125, 0.2);
}
.card-holder__content {
  padding: 0 20px;

  img {
    width: 100px;
  }
  .another {
    display: flex;
  }
}

.tabs-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6,minmax(0,1fr));
  padding: 2.5rem 1.5rem 0 1.5rem;
}

.easy-tab {
  border-bottom: 2px solid #39CDCC;
  width: 170px;
}

.tabless {
  width: 118px;
}

.tab-text {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
  color: #39CDCC;
}

.tab-text-black {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.8);;
}

.other-text {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.extra-container {
  padding-top: 30px;
  width: 100%;
  padding-bottom: 2rem;
  background: #FFFFFF;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  .last-container {
    border: 1px solid rgba(33, 63, 125, 0.06);
    border-radius: 4px;
    width: 100%;
    .last_container_content {
      padding: 20px;
      border-bottom: 1px gray;
    }
  }
}

.first-section {
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  width: 100%;
}

.personal {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #213F7D;
  margin: 0;
}

.name {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  padding-top: 20px;
  /* identical to box height */
  color: #213F7D;
  margin: 0;
}

.border-update {
  border-right: 1px solid #545F7D;
  height: 80px;
}

.tiny-title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding-top: 23px;
  color: #545F7D;
}

.name-tag {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-top: 5px;
  margin: 0;
  color: #545F7D;
}

.label-tag {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #545F7D;
  margin: 0;
  padding-top: 20px;
  .main {
    margin: 0;
    text-transform: uppercase;
  }
}

.back-button-text {
  padding-top: 30px;
  padding-left: 20px;
  margin: 0;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 10px;
  margin: 0;
  /* identical to box height */
  color: #545F7D;
}

@media (max-width: 768px) { 
  .container {
    margin: 0 !important;
    .main-body {
      padding-top: 0;
      .d-table {
        display: flex;
        flex-direction: column;
      }
      .first-section {
        display: block;
        width: 100%;
      }
      .card-main {
        width: 100%;
        margin-top: 20px;
        background: #FFFFFF;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
        border-radius: 4px;
        display: block;
        overflow-x: hidden;
        .card-mini {
          display: inline-block;
          width: 100%;
          padding-top: 2rem;
          overflow-x: scroll;
          .card-holder {
            padding: 0 !important;
            text-align: center;
          }
          .card-holder__container {
            height: 13rem;
            width: 100%;
            margin-top: 0.2rem;
            display: inline-block;
            text-align: center;
            overflow-x: scroll;
          }
          .card-holder__content {
            padding: 0;
          }
          .card-holder__content:nth-child(2) {
            border-left: 0;
            border-right: 0;
          }
        }
        .tabs-container {
          width: 100%;
          display: inline-flex;
          overflow-x: scroll;
          padding: 2.5rem 1.5rem 0 1.5rem;
          .tab-text {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            margin: 0;
            width: inherit;
            padding-bottom: 5px;
            color: #39CDCC;
          }
          .tab-text-black {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            margin: 0;
            width: inherit;
            padding-bottom: 5px;
            color: rgba(0, 0, 0, 0.8);
          }
          .last-tab {
            width: 130px !important;
          }
        }
      }
    }
  }
  .tar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blacklist {
    margin: 6px;
  }
}
