
    <aside>
        <div class="sidebar-main">
          <div class="sidebar">
            <div class="side">
              <div class="side__item">
                <img src="./assets/img/icons/guarantor.png">
                <p class="side__item__p"> Switch Organization </p>
                <div class="select-dropdown">
                  <select>
                    <option value="Option 1"></option>
                  </select>
                </div>
              </div>
              <!-- <div *ngFor="let item of sideNav; i = index;">

              </div> -->
              <div class="side__item" routerLink="/dashboard">
                <img src="./assets/img/icons/dashboard.png">
                <p class="side__item__p"> Dashboard </p>
              </div>
            </div>
            <p class="customers"> CUSTOMERS </p>
            <ul class="list-class side space-y-6" *ngFor="let item of sideNav['customers'] let i = index;">
                <li [ngClass]="{'sidebar-text text-try': selectedTab === item.shortName,
                'not-active' : selectedTab !== item.shortName || selectedTab === '' }"
                 (click)="switchTabs(item.shortName)" routerLink="/all-users">
                 <p> <img src="{{item.image}}">  {{item.title}} </p>
                </li>
            </ul>
            <p class="customers"> BUSINESSES </p>
            <ul class="list-class side space-y-6" *ngFor="let item of sideNav['Businesses'] let i = index;;">
                <li [ngClass]="{'sidebar-text text-try': selectedTab === item.shortName,
                'not-active' : selectedTab !== item.shortName || selectedTab === '' }"
                 (click)="switchTabs(item.shortName)" routerLink="/all-users">
                 <p> <img src="{{item.image}}">  {{item.title}} </p>
                </li>
            </ul>
            <p class="customers"> SETTINGS </p>
            <ul class="list-class side space-y-6" *ngFor="let item of sideNav['Settings'] let i = index;;">
                <li [ngClass]="{'sidebar-text text-try': selectedTab === item.shortName,
                'not-active' : selectedTab !== item.shortName || selectedTab === '' }"
                 (click)="switchTabs(item.shortName)" routerLink="/all-users">
                 <p> <img src="{{item.image}}">  {{item.title}} </p>
                </li>
            </ul>
          </div>
        </div>
    </aside>


