<div class="container">
  <div class="main-body">
    <p class="title"> Users </p>
    <div class="card-container">
      <div class="card">
        <div class="card_div">
          <img src="./assets/img/icons/users.png">
          <p class="card_title"> Users </p>
          <p class="card_numbers">{{users.length}} </p>
        </div>
      </div>
      <div class="card">
        <div class="card_div">
          <img src="./assets/img/icons/others.png">
          <p class="card_title"> Active Users </p>
          <p class="card_numbers"> {{users.length}} </p>
        </div>
      </div>
      <div class="card">
        <div class="card_div">
          <img src="./assets/img/icons/loans.png">
          <p class="card_title"> Users with Loans </p>
          <p class="card_numbers"> {{users.length}} </p>
        </div>
      </div>
      <div class="card">
        <div class="card_div">
          <img src="./assets/img/icons/savings.png">
          <p class="card_title"> Users with Savings </p>
          <p class="card_numbers"> {{users.length /2}} </p>
        </div>
      </div>
    </div>
    <div class="table-parent">
      <div class="table-child table-user">
        <table>
          <thead>
            <tr>
              <th class="table-header">
                <span > Organisation </span> <img src="./assets/img/icons/filter-results-button.png">
              </th>
              <th class="table-header">
                <span> Username </span> <img src="./assets/img/icons/filter-results-button.png">
              </th>
              <th class="table-header">
                <span> Email </span> <img src="./assets/img/icons/filter-results-button.png">
              </th>
              <th class="table-header">
                <span> Phone number </span> <img src="./assets/img/icons/filter-results-button.png">
              </th>
              <th class="table-header">
                <span> Date joined </span> <img src="./assets/img/icons/filter-results-button.png">
              </th>
              <th class="table-header">
                <span> Status </span> <img src="./assets/img/icons/filter-results-button.png">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users | paginate: config; let i = index;">
              <td class="main-table">
                <span (click)="routeToDetails(item['id'])"> {{item['orgName'] | slice:0:15}}  {{ item['orgName']['length'] > 16 ? '...' : '' }} </span>
              </td>
              <td class="main-table">
                <span> {{item['userName'] | slice:0:15}}  {{ item['userName']['length'] > 16 ? '...' : '' }} </span>
              </td>
              <td class="main-table">
                <span> {{item['email'] | slice:0:18}}  {{ item['email']['length'] > 19 ? '...' : '' }} </span>
              </td>
              <td class="main-table">
                <span> {{item['phoneNumber'] | slice:0:12}}  {{ item['phoneNumber']['length'] > 12 ? '...' : '' }} </span>
              </td>
              <td class="main-table">
                <span> {{item['createdAt']| date: "YYYY-MM-dd, h:mm a"}} </span>
              </td>
              <td class="main-table">
                <button class="table-button-active"> <span> Active </span> </button>
              </td>
              <td class="toggle">
                <img (click)="toggle(i)" src="./assets/img/icons/ellipsis.png">
                <div class="dropdown-inner" *ngIf="showMe && ellipseIndex === i">
                  <div class="edit-div">
                    <h6 class="drop-text" (click)="routeToDetails(item['id'])"> <img src="./assets/img/icons/view_details.png"> View Details </h6>
                    <h6 class="drop-text"> <img src="./assets/img/icons/deactivate.png"> Blacklist User </h6>
                    <h6 class="drop-text"> <img src="./assets/img/icons/activate.png"> Activate User </h6>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-template #p="paginationApi"
        (pageChange)="config.currentPage = $event">
          <div class="page-box">
            <p>Showing </p>
            <span class="box"> 
              <select >
                <option value="Option 1">  {{config.itemsPerPage}} </option>
              </select> 
            </span>
            <p>out of 100 </p>
          </div>
          <div class="custom-pagination">
            <div class="pagination-previous">
              <a  (click)="p.previous()"> < </a>
            </div>
            <div class="numbers">
              <a class="active"> 1 </a> <a>2</a> <a>3</a> <a>...</a> <a>9</a> <a>10</a>
            </div>
            <div class="pagination-next">
              <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
            </div>
          </div>
        </pagination-template>
    </div>
  </div>
</div>
